#clock {
  font-size: 140px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 94, 0);
  width: 900px;
  margin: 200px;
  text-align: center;
  border: 2px solid rgb(7, 201, 7);
  border-radius: 20px;
}
